
[*.{resw,resx}]
indent_style = tab
indent_size = tab
tab_width = 4

[*.{asax,ascx,aspx,cs,cshtml,htm,html,master,razor,skin,vb}]
indent_style = space
indent_size = 4
tab_width = 4

[*.{appxmanifest,axaml,axml,build,config,csproj,dbml,discomap,dtd,jsproj,lsproj,njsproj,nuspec,paml,proj,props,StyleCop,targets,tasks,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style = space
indent_size = 2
tab_width = 2

[*]

# Standard properties

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = public, private, protected, internal, file, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async, required:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_using_directive_placement = inside_namespace:suggestion
dotnet_diagnostic.bc40000.severity = warning
dotnet_diagnostic.bc400005.severity = warning
dotnet_diagnostic.bc40008.severity = warning
dotnet_diagnostic.bc40056.severity = warning
dotnet_diagnostic.bc42016.severity = warning
dotnet_diagnostic.bc42024.severity = warning
dotnet_diagnostic.bc42025.severity = warning
dotnet_diagnostic.bc42104.severity = warning
dotnet_diagnostic.bc42105.severity = warning
dotnet_diagnostic.bc42106.severity = warning
dotnet_diagnostic.bc42107.severity = warning
dotnet_diagnostic.bc42304.severity = warning
dotnet_diagnostic.bc42309.severity = warning
dotnet_diagnostic.bc42322.severity = warning
dotnet_diagnostic.bc42349.severity = warning
dotnet_diagnostic.bc42353.severity = warning
dotnet_diagnostic.bc42354.severity = warning
dotnet_diagnostic.bc42355.severity = warning
dotnet_diagnostic.bc42356.severity = warning
dotnet_diagnostic.bc42358.severity = warning
dotnet_diagnostic.bc42504.severity = warning
dotnet_diagnostic.bc42505.severity = warning
dotnet_diagnostic.ca2252.severity = error
dotnet_diagnostic.cs0067.severity = warning
dotnet_diagnostic.cs0078.severity = warning
dotnet_diagnostic.cs0108.severity = warning
dotnet_diagnostic.cs0109.severity = warning
dotnet_diagnostic.cs0114.severity = warning
dotnet_diagnostic.cs0162.severity = warning
dotnet_diagnostic.cs0164.severity = warning
dotnet_diagnostic.cs0168.severity = warning
dotnet_diagnostic.cs0169.severity = warning
dotnet_diagnostic.cs0183.severity = warning
dotnet_diagnostic.cs0184.severity = warning
dotnet_diagnostic.cs0197.severity = warning
dotnet_diagnostic.cs0219.severity = warning
dotnet_diagnostic.cs0252.severity = warning
dotnet_diagnostic.cs0253.severity = warning
dotnet_diagnostic.cs0282.severity = warning
dotnet_diagnostic.cs0414.severity = warning
dotnet_diagnostic.cs0420.severity = warning
dotnet_diagnostic.cs0458.severity = warning
dotnet_diagnostic.cs0464.severity = warning
dotnet_diagnostic.cs0465.severity = warning
dotnet_diagnostic.cs0469.severity = warning
dotnet_diagnostic.cs0472.severity = warning
dotnet_diagnostic.cs0612.severity = warning
dotnet_diagnostic.cs0618.severity = warning
dotnet_diagnostic.cs0628.severity = warning
dotnet_diagnostic.cs0642.severity = warning
dotnet_diagnostic.cs0649.severity = warning
dotnet_diagnostic.cs0652.severity = warning
dotnet_diagnostic.cs0657.severity = warning
dotnet_diagnostic.cs0658.severity = warning
dotnet_diagnostic.cs0659.severity = warning
dotnet_diagnostic.cs0660.severity = warning
dotnet_diagnostic.cs0661.severity = warning
dotnet_diagnostic.cs0665.severity = warning
dotnet_diagnostic.cs0672.severity = warning
dotnet_diagnostic.cs0675.severity = warning
dotnet_diagnostic.cs0693.severity = warning
dotnet_diagnostic.cs0728.severity = warning
dotnet_diagnostic.cs0809.severity = warning
dotnet_diagnostic.cs1030.severity = warning
dotnet_diagnostic.cs1058.severity = warning
dotnet_diagnostic.cs1066.severity = warning
dotnet_diagnostic.cs1522.severity = warning
dotnet_diagnostic.cs1570.severity = warning
dotnet_diagnostic.cs1571.severity = warning
dotnet_diagnostic.cs1572.severity = warning
dotnet_diagnostic.cs1573.severity = warning
dotnet_diagnostic.cs1574.severity = warning
dotnet_diagnostic.cs1580.severity = warning
dotnet_diagnostic.cs1581.severity = warning
dotnet_diagnostic.cs1584.severity = warning
dotnet_diagnostic.cs1587.severity = warning
dotnet_diagnostic.cs1589.severity = warning
dotnet_diagnostic.cs1590.severity = warning
dotnet_diagnostic.cs1591.severity = warning
dotnet_diagnostic.cs1592.severity = warning
dotnet_diagnostic.cs1710.severity = warning
dotnet_diagnostic.cs1711.severity = warning
dotnet_diagnostic.cs1712.severity = warning
dotnet_diagnostic.cs1717.severity = warning
dotnet_diagnostic.cs1723.severity = warning
dotnet_diagnostic.cs1911.severity = warning
dotnet_diagnostic.cs1957.severity = warning
dotnet_diagnostic.cs1981.severity = warning
dotnet_diagnostic.cs1998.severity = warning
dotnet_diagnostic.cs4014.severity = warning
dotnet_diagnostic.cs7022.severity = warning
dotnet_diagnostic.cs7023.severity = warning
dotnet_diagnostic.cs7095.severity = warning
dotnet_diagnostic.cs8073.severity = warning
dotnet_diagnostic.cs8094.severity = warning
dotnet_diagnostic.cs8123.severity = warning
dotnet_diagnostic.cs8305.severity = warning
dotnet_diagnostic.cs8321.severity = warning
dotnet_diagnostic.cs8383.severity = warning
dotnet_diagnostic.cs8424.severity = warning
dotnet_diagnostic.cs8425.severity = warning
dotnet_diagnostic.cs8500.severity = warning
dotnet_diagnostic.cs8509.severity = warning
dotnet_diagnostic.cs8519.severity = warning
dotnet_diagnostic.cs8520.severity = warning
dotnet_diagnostic.cs8524.severity = warning
dotnet_diagnostic.cs8597.severity = warning
dotnet_diagnostic.cs8600.severity = warning
dotnet_diagnostic.cs8601.severity = warning
dotnet_diagnostic.cs8602.severity = warning
dotnet_diagnostic.cs8603.severity = warning
dotnet_diagnostic.cs8604.severity = warning
dotnet_diagnostic.cs8605.severity = warning
dotnet_diagnostic.cs8607.severity = warning
dotnet_diagnostic.cs8608.severity = warning
dotnet_diagnostic.cs8609.severity = warning
dotnet_diagnostic.cs8610.severity = warning
dotnet_diagnostic.cs8611.severity = warning
dotnet_diagnostic.cs8612.severity = warning
dotnet_diagnostic.cs8613.severity = warning
dotnet_diagnostic.cs8614.severity = warning
dotnet_diagnostic.cs8615.severity = warning
dotnet_diagnostic.cs8616.severity = warning
dotnet_diagnostic.cs8617.severity = warning
dotnet_diagnostic.cs8618.severity = warning
dotnet_diagnostic.cs8619.severity = warning
dotnet_diagnostic.cs8620.severity = warning
dotnet_diagnostic.cs8621.severity = warning
dotnet_diagnostic.cs8622.severity = warning
dotnet_diagnostic.cs8624.severity = warning
dotnet_diagnostic.cs8625.severity = warning
dotnet_diagnostic.cs8629.severity = warning
dotnet_diagnostic.cs8631.severity = warning
dotnet_diagnostic.cs8632.severity = warning
dotnet_diagnostic.cs8633.severity = warning
dotnet_diagnostic.cs8634.severity = warning
dotnet_diagnostic.cs8643.severity = warning
dotnet_diagnostic.cs8644.severity = warning
dotnet_diagnostic.cs8645.severity = warning
dotnet_diagnostic.cs8655.severity = warning
dotnet_diagnostic.cs8656.severity = warning
dotnet_diagnostic.cs8667.severity = warning
dotnet_diagnostic.cs8669.severity = warning
dotnet_diagnostic.cs8670.severity = warning
dotnet_diagnostic.cs8714.severity = warning
dotnet_diagnostic.cs8762.severity = warning
dotnet_diagnostic.cs8763.severity = warning
dotnet_diagnostic.cs8764.severity = warning
dotnet_diagnostic.cs8765.severity = warning
dotnet_diagnostic.cs8766.severity = warning
dotnet_diagnostic.cs8767.severity = warning
dotnet_diagnostic.cs8768.severity = warning
dotnet_diagnostic.cs8769.severity = warning
dotnet_diagnostic.cs8770.severity = warning
dotnet_diagnostic.cs8774.severity = warning
dotnet_diagnostic.cs8775.severity = warning
dotnet_diagnostic.cs8776.severity = warning
dotnet_diagnostic.cs8777.severity = warning
dotnet_diagnostic.cs8794.severity = warning
dotnet_diagnostic.cs8819.severity = warning
dotnet_diagnostic.cs8824.severity = warning
dotnet_diagnostic.cs8825.severity = warning
dotnet_diagnostic.cs8846.severity = warning
dotnet_diagnostic.cs8847.severity = warning
dotnet_diagnostic.cs8851.severity = warning
dotnet_diagnostic.cs8860.severity = warning
dotnet_diagnostic.cs8892.severity = warning
dotnet_diagnostic.cs8907.severity = warning
dotnet_diagnostic.cs8947.severity = warning
dotnet_diagnostic.cs8960.severity = warning
dotnet_diagnostic.cs8961.severity = warning
dotnet_diagnostic.cs8962.severity = warning
dotnet_diagnostic.cs8963.severity = warning
dotnet_diagnostic.cs8965.severity = warning
dotnet_diagnostic.cs8966.severity = warning
dotnet_diagnostic.cs8971.severity = warning
dotnet_diagnostic.cs8974.severity = warning
dotnet_diagnostic.cs8981.severity = warning
dotnet_diagnostic.cs9042.severity = warning
dotnet_diagnostic.cs9073.severity = warning
dotnet_diagnostic.cs9074.severity = warning
dotnet_diagnostic.cs9080.severity = warning
dotnet_diagnostic.cs9081.severity = warning
dotnet_diagnostic.cs9082.severity = warning
dotnet_diagnostic.cs9083.severity = warning
dotnet_diagnostic.cs9084.severity = warning
dotnet_diagnostic.cs9085.severity = warning
dotnet_diagnostic.cs9086.severity = warning
dotnet_diagnostic.cs9087.severity = warning
dotnet_diagnostic.cs9088.severity = warning
dotnet_diagnostic.cs9089.severity = warning
dotnet_diagnostic.cs9090.severity = warning
dotnet_diagnostic.cs9091.severity = warning
dotnet_diagnostic.cs9092.severity = warning
dotnet_diagnostic.cs9093.severity = warning
dotnet_diagnostic.cs9094.severity = warning
dotnet_diagnostic.cs9095.severity = warning
dotnet_diagnostic.cs9097.severity = warning
dotnet_diagnostic.cs9099.severity = warning
dotnet_diagnostic.cs9100.severity = warning
dotnet_diagnostic.cs9107.severity = warning
dotnet_diagnostic.cs9113.severity = warning
dotnet_diagnostic.cs9124.severity = warning
dotnet_diagnostic.cs9154.severity = warning
dotnet_diagnostic.cs9158.severity = warning
dotnet_diagnostic.cs9159.severity = warning
dotnet_diagnostic.cs9179.severity = warning
dotnet_diagnostic.cs9181.severity = warning
dotnet_diagnostic.cs9182.severity = warning
dotnet_diagnostic.cs9183.severity = warning
dotnet_diagnostic.cs9184.severity = warning
dotnet_diagnostic.cs9191.severity = warning
dotnet_diagnostic.cs9192.severity = warning
dotnet_diagnostic.cs9193.severity = warning
dotnet_diagnostic.cs9195.severity = warning
dotnet_diagnostic.cs9196.severity = warning
dotnet_diagnostic.cs9197.severity = warning
dotnet_diagnostic.cs9198.severity = warning
dotnet_diagnostic.cs9200.severity = warning
dotnet_diagnostic.cs9204.severity = warning
dotnet_diagnostic.cs9208.severity = warning
dotnet_diagnostic.cs9209.severity = warning
dotnet_diagnostic.wme006.severity = warning
dotnet_naming_style.i_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.i_upper_camel_case_style.required_prefix = I
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style.required_prefix = _
dotnet_naming_style.lower_camel_case_style_1.capitalization = camel_case
dotnet_naming_style.t_upper_camel_case_style.capitalization = pascal_case
dotnet_naming_style.t_upper_camel_case_style.required_prefix = T
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# ReSharper properties
resharper_braces_for_ifelse = required
resharper_xml_indent_size = 2
resharper_xml_tab_width = 2
resharper_xml_use_indent_from_vs = false

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_redundant_base_qualifier_highlighting = warning
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
csharp_indent_labels = one_less_than_current
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:silent
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_prefer_primary_constructors = false:silent
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_space_around_binary_operators = before_and_after
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = true:silent

# AsyncFixer01: Unnecessary async/await usage
dotnet_diagnostic.AsyncFixer01.severity = suggestion

# AsyncFixer02: Long-running or blocking operations inside an async method
dotnet_diagnostic.AsyncFixer02.severity = error

# AsyncFixer03: Fire & forget async void methods
dotnet_diagnostic.AsyncFixer03.severity = error

# AsyncFixer04: Fire & forget async call inside a using block
dotnet_diagnostic.AsyncFixer04.severity = error

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

#AsyncFixer05: Downcasting from a nested task to an outer task.
dotnet_diagnostic.AsyncFixer05.severity = error

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = warning

# Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# Split parameters should start on line after declaration
dotnet_diagnostic.SA1116.severity = warning

# Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# Closing square brackets should be spaced correctly
dotnet_diagnostic.SA1011.severity = none

# XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

# An element within a C# code file is out of order within regard to access level, in relation to other elements in the code
dotnet_diagnostic.SA1202.severity = warning
dotnet_diagnostic.RCS1036.severity = warning
dotnet_diagnostic.xUnit1042.severity = warning

[*.{cs,vb}]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_style_operator_placement_when_wrapping = beginning_of_line
end_of_line = crlf
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_prefer_simplified_boolean_expressions = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_compound_assignment = true:suggestion
dotnet_style_prefer_simplified_interpolation = true:suggestion
dotnet_style_prefer_collection_expression = when_types_loosely_match:suggestion
dotnet_style_namespace_match_folder = true:suggestion
